<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"/>
<sly data-sly-call="${clientlib.css @ categories='Ogani.footer'}"/>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='Ogani.footer-container'}"/>
     
<sly data-sly-use.model="com.bhasaka.ogani.core.models.FooterLeftModel"/>

<div class="f__footer-container">
    <!-- TOP ROW -->
    <div class="f__footer-top">
        <!-- LEFT BLOCK -->
         <div class="f__first-column">
            <img src="${model.logo}" alt="logo"/>
            <p>${model.address}</p>
            <p>Phone: ${model.phone}</p>
            <p>Email: ${model.email}</p>
        </div>
<!-- USEFUL LINKS BLOCK -->
    <div class="f__links-column">
        <h5>Useful Links</h5>

        <div class="f__links-wrapper">
            <!-- COLUMN 1 -->
            <div class="f__second-column">
                <ul data-sly-list.item="${model.linksColumn1}">
                    <li><a href="${item.url}">${item.text}</a></li>
                </ul>
            </div>

             <!-- COLUMN 2 -->
             <div class="f__third-column">
                 <ul data-sly-list.item="${model.linksColumn2}">
                    <li><a href="${item.url}">${item.text}</a></li>
                 </ul>
            </div>
        </div>

    </div>
        <!-- RIGHT BLOCK -->
        <div class="f__fourth-column">
            <sly data-sly-resource="${'newsletter' @ resourceType='Ogani/components/footer-newsletter'}"/>
        </div>
    </div>
    <!-- BOTTOM -->
    <div class="f__footer-bottom-wrapper">
        <sly data-sly-resource="${'bottom' @ resourceType='Ogani/components/footer-bottom'}"/>
    </div>
</div>