<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"/>
<sly data-sly-call="${clientlib.css @ categories='Ogani.footer'}"/>

<sly data-sly-use.model="com.bhasaka.ogani.core.models.FooterLeftModel"/>

<div class="footer-container">

    <!-- TOP ROW -->
    <div class="footer-top">

        <!-- LEFT BLOCK -->
         <div class="first-column">
            <img src="${model.logo}" alt="logo"/>

            <p>${model.address}</p>
            <p>Phone: ${model.phone}</p>
            <p>Email: ${model.email}</p>
         </div>
         <div class="second-column">
                    <ul data-sly-list.item="${model.linksColumn1}">
                        <li><a href="${item.url}">${item.text}</a></li>
                    </ul>
        </div>
        <div class="third-column">
                    <ul data-sly-list.item="${model.linksColumn2}">
                        <li><a href="${item.url}">${item.text}</a></li>
                    </ul>
        </div>
        <!-- RIGHT BLOCK -->
        <div class="fourth-column">
            <sly data-sly-resource="${'newsletter' @ resourceType='Ogani/components/footer-newsletter'}"/>
        </div>
    </div>

    <!-- BOTTOM -->
    <div class="footer-bottom-wrapper">
        <sly data-sly-resource="${'bottom' @ resourceType='Ogani/components/footer-bottom'}"/>
    </div>

</div>