<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='Ogani.column_container'}"/>

<div class="cmp-column-container">
    
    <sly data-sly-test="${properties.columnCount == '2'}">
        <div class="container">
            <div class="row custom-row">
                <div class="col-md-6 col-12">
                    <sly data-sly-resource="${'column-1' @ resourceType='/apps/mysite/components/container'}" />
                </div>
                <div class="col-md-6 col-12">
                    <sly data-sly-resource="${'column-2' @ resourceType='/apps/mysite/components/container'}" />
                </div>
            </div>
        </div>
    </sly>

    <sly data-sly-test="${properties.columnCount == '3'}">
        <div class="container">
            <div class="row custom-row">
                <div class="col-md-4 col-12">
                    <sly data-sly-resource="${'column-1' @ resourceType='/apps/mysite/components/container'}" />
                </div>
                <div class="col-md-4 col-12">
                    <sly data-sly-resource="${'column-2' @ resourceType='/apps/mysite/components/container'}" />
                </div>
                <div class="col-md-4 col-12">
                    <sly data-sly-resource="${'column-3' @ resourceType='/apps/mysite/components/container'}" />
                </div>
            </div>
        </div>
    </sly>

    <sly data-sly-test="${properties.columnCount == '4'}">
        <div class="container">
            <div class="row custom-row">
                <div class="col-lg-3 col-md-6 col-12">
                    <sly data-sly-resource="${'column-1' @ resourceType='/apps/mysite/components/container'}" />
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <sly data-sly-resource="${'column-2' @ resourceType='/apps/mysite/components/container'}" />
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <sly data-sly-resource="${'column-3' @ resourceType='/apps/mysite/components/container'}" />
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <sly data-sly-resource="${'column-4' @ resourceType='/apps/mysite/components/container'}" />
                </div>
            </div>
        </div>
    </sly>
</div>