 <div class="contact-form spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact__form__title">
                        <h2>Leave Message</h2>
                    </div>
                </div>
            </div>           
<form id="contactForm" method="post" action="${resource.path}.json">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <input type="text" id="name" name="name" placeholder="Your name" required>
        </div>
        <div class="col-lg-6 col-md-6">
            <input type="email" id="email" name="email" placeholder="Your Email" required>
        </div>
        <div class="col-lg-12 text-center">
            <textarea id="message" name="message" placeholder="Your message" required></textarea>
            <button type="submit" class="site-btn">SEND MESSAGE</button>
            <p id="responseMessage"></p>
        </div>
    </div>
</form>

</div>
</div>