<div id="headerTopBar" class="header__top" data-sly-use.header="com.bhasaka.ogani.core.models.HeaderTopBar"
    data-sly-test="${header.email || header.promotionalText}">
    <div class="container">
        <div class="row"> 
            <div class="col-lg-6 col-md-6">
                <div class="header__top__left">
                    <ul>
                        <li data-sly-test="${header.email}"><i class="fa fa-envelope"></i> ${header.email}</li>
                        <li data-sly-test="${header.promotionalText}">${header.promotionalText}</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="header__top__right">
                    <div class="header__top__right__social" data-sly-list.item="${header.socialIcons}">
                        <a href="${item.link @ extension='html'}"><i class="fa-brands fa-${item.icon}"></i></a>
                    </div>

                    <div class="header__top__right__language" data-sly-test="${header.languages}">
                        <img src="/content/dam/Ogani/language.png" alt="">
                        <div>${header.languages[0]}</div>
                        <span class="arrow_carrot-down"></span>
                        <ul data-sly-list.lang="${header.languages}">
                            <li><a href="#">${lang}</a></li>
                        </ul>
                    </div>

                    <div class="header__top__right__auth" data-sly-test="${header.loginLink}">
                        <a href="${header.loginLink @ extension='html'}">
                            <i class="fa fa-${header.loginIcon}"></i> Login
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>