<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"/>
<sly data-sly-call="${clientlib.all @ categories='Ogani.quotetable'}"/>

<div class="quote-table" data-quote-url="/bin/quote">
	<div class="quote-table__header">
		<h2>Quote Table</h2>
	</div>

	<div class="quote-table__container">
		<table class="quote-table__table" aria-label="Quotes from QuoteServlet">
			<thead>
				<tr>
					<th scope="col">Quote</th>
					<th scope="col">Author</th>
					<th scope="col">Quote No</th>
					<th scope="col">HTML</th>
				</tr>
			</thead>
			<tbody class="quote-table__body">
				<tr>
					<td colspan="4" class="quote-table__status">Api Disabled</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

