<div  data-sly-use.topHeader="com.bhasaka.ogani.core.models.Header">

<div class="container header">
    <div class="row">
        <div class="col-lg-3">
            <div class="header__logo" data-sly-resource="${'logo' @ resourceType='core/wcm/components/image/v3/image'}">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="header__menu"
                data-sly-resource="${'navigation' @ resourceType='core/wcm/components/navigation/v2/navigation'}"></div>

        </div>
        <div class="col-lg-3">
            <div class="header__cart">
                <sly data-sly-test="${topHeader.enableCart}">
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                    </ul>
                    <div class="header__cart__price">item: <span>$150.00</span></div>
                </sly>
            </div>

        </div>
    </div>
    <div class="humberger__open">
        <i class="fa fa-bars"></i>
    </div>
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">

            <div class="humberger__menu__logo"
                data-sly-resource="${'hamLogo' @ resourceType='core/wcm/components/image/v3/image'}">
            </div>
            <div class="humberger__menu__cart">
                <sly data-sly-test="${topHeader.enableCart}">
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                    </ul>

                    <div class="header__cart__price">item: <span>$150.00</span></div>
                </sly>
            </div>
            <div class="humberger__menu__widget">
                <div class="header__top__right__language" data-sly-test="${topHeader.languages}">
                    <img src="/content/dam/Ogani/language.png" alt="">
                    <div>${topHeader.languages[0]}</div>
                    <span class="arrow_carrot-down"></span>
                    <ul data-sly-list.lang="${topHeader.languages}">
                        <li><a href="#">${lang}</a></li>
                    </ul>
                </div>
                <div class="header__top__right__auth" data-sly-test="${topHeader.loginLink}">
                    <a href="${topHeader.loginLink @ extension='html'}">
                        <i class="fa fa-${topHeader.loginIcon}"></i> Login
                    </a>
                </div>
            </div>
            <div class="humberger__menu__nav"
                data-sly-resource="${'hamNavigation' @ resourceType='core/wcm/components/navigation/v2/navigation'}">
            </div>
            <div id="mobile-menu-wrap"></div>
            <div class="header__top__right__social" data-sly-list.item="${topHeader.socialIcons}">
                <a href="${item.link @ extension='html'}"><i class="fa-brands fa-${item.icon}"></i></a>
            </div>
            <div class="humberger__menu__contact">
                <ul>
                    <li data-sly-test="${topHeader.email}"><i class="fa fa-envelope"></i> ${topHeader.email}</li>
                    <li data-sly-test="${topHeader.promotionalText}">${topHeader.promotionalText}</li>
                </ul>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-lg-3">
            <div class="hero__categories">
                <div class="hero__categories__all">
                    <i class="fa fa-bars"></i>
                    <span>All departments</span>
                </div>

                <ul class="hero__categories__list" style="display: none;" data-sly-list.tag="${topHeader.departmentTags}">
                    <li><a href="#">${tag}</a></li>
                </ul>

                <ul class="hero__categories__list" style="display: none;" data-sly-test="${!topHeader.departmentTags}">
                    <li><a href="#">No tags found at path.</a></li>
                </ul>
            </div>
        </div>


        <div class="col-lg-9">
            <div class="hero__search">
                <div class="hero__search__form">
                    <form action="#">
                        <div class="hero__search__categories">
                            All Categories
                            <span class="arrow_carrot-down"></span>
                        </div>
                        <ul class="hero__search__categories__list" style="display: none;"
                            data-sly-list.tag="${topHeader.departmentTags}">
                            <li><a href="#">${tag}</a></li>
                        </ul>

                        <ul class="hero__search__categories__list" style="display: none;"
                            data-sly-test="${!topHeader.departmentTags}">
                            <li><a href="#">No tags found at path.</a></li>
                        </ul>
                        <input type="text" placeholder="What do you need?">
                        <button type="submit" class="site-btn">SEARCH</button>
                    </form>
                </div>
                <div class="hero__search__phone">
                    <div class="hero__search__phone__icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="hero__search__phone__text">
                        <h5>${topHeader.phoneNumber}</h5>
                        <span>${topHeader.supportText}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>